@use "sass:map";

$colors: (
  "link-blue": #00aeef
);

html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
}

.row > * {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

#featured {
  background-image: url("../img/featured.jpg");
  height: 21.7rem;
  width: 100%;

  h1 {
    color: white;
    font-size: 3.6rem;
  }
}

#info {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgb(43, 43, 43);

  p {
    color: white;
  }

  a {
    display: block;
    color: map.get($colors, "link-blue");
    text-decoration: none;
    font-weight: bold;
    margin-top: 3rem;
  }
}

#courses {
  background: #161616;
  color: white;

  h2 {
    margin: 2rem 0;
    font-size: 3.6rem;
  }
  .course {
    border: 1px solid rgba(206, 206, 206, 0.3);
    border-radius: 10px;
    margin: 1.5rem 0;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
      margin-bottom: 1rem;
    }

    h3,
    h4 {
      margin: 1.5rem 2rem;
      font-size: 1.8rem;
    }

    a {
      display: block;
      color: map.get($colors, "link-blue");
      text-decoration: none;
      font-weight: bold;
      margin: 3rem 2rem;
    }
  }
}
