@font-face {
  font-display: block;
  font-family: wf_f52303b2efea42e1b4aeed119;
  src: url("https://static.wixstatic.com/ufonts/643d94_f52303b2efea42e1b4aeed119e42672e/woff2/file.woff2") format("woff2"), url("https://static.wixstatic.com/ufonts/643d94_f52303b2efea42e1b4aeed119e42672e/woff/file.woff") format("woff"), url("https://static.wixstatic.com/ufonts/643d94_f52303b2efea42e1b4aeed119e42672e/ttf/file.ttf") format("ttf");
}
@font-face {
  font-display: block;
  font-family: wf_dd28b3957391427eb54de1c9e;
  src: url("https://static.wixstatic.com/ufonts/643d94_dd28b3957391427eb54de1c9eff7cfb1/woff2/file.woff2") format("woff2"), url("https://static.wixstatic.com/ufonts/643d94_dd28b3957391427eb54de1c9eff7cfb1/woff/file.woff") format("woff"), url("https://static.wixstatic.com/ufonts/643d94_dd28b3957391427eb54de1c9eff7cfb1/ttf/file.ttf") format("ttf");
}
@font-face {
  font-display: block;
  font-family: wf_93c16d86ec9d47d0a2a36894f;
  src: url("https://static.wixstatic.com/ufonts/643d94_93c16d86ec9d47d0a2a36894fbdd54fd/woff2/file.woff2") format("woff2"), url("https://static.wixstatic.com/ufonts/643d94_93c16d86ec9d47d0a2a36894fbdd54fd/woff/file.woff") format("woff"), url("https://static.wixstatic.com/ufonts/643d94_93c16d86ec9d47d0a2a36894fbdd54fd/ttf/file.ttf") format("ttf");
}
html {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  color: #fff;
}

.row > * {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

h2 {
  margin: 2rem 0 !important;
  font-family: "wf_dd28b3957391427eb54de1c9e";
  font-size: 2.4rem;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.header {
  background-color: rgba(26, 30, 31, 0.9);
  width: 100%;
  z-index: 3;
  font-family: "wf_dd28b3957391427eb54de1c9e";
}
.header .nav-link {
  color: #fff;
}
.header .nav-link.active {
  color: #00aeef;
}

#featured {
  background-image: url("../img/featured.jpg");
  height: 35.2rem;
  width: 100%;
  font-family: "wf_f52303b2efea42e1b4aeed119";
  line-height: 1.6em;
}
#featured span {
  display: block;
}
#featured h1 {
  font-size: 4.2rem;
}

#info {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #2b2b2b;
}
#info h2 {
  font-size: 2.8rem;
  font-weight: normal;
  font-family: "wf_dd28b3957391427eb54de1c9e";
  line-height: 1.6em;
}
#info a {
  display: block;
  color: #00aeef;
  text-decoration: none;
  font-weight: bold;
  margin-top: 3rem;
}

#courses {
  background: #161616;
}
#courses .course {
  border: 1px solid rgba(206, 206, 206, 0.3);
  border-radius: 10px;
  height: 41.6rem;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
}
#courses .course img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
  margin-bottom: 1rem;
}
#courses .course h3,
#courses .course h4 {
  margin: 1.5rem 2rem;
  font-family: "wf_dd28b3957391427eb54de1c9e";
}
#courses .course h3 {
  font-size: 1.8rem;
}
#courses .course h4 {
  font-size: 1.4rem;
}
#courses .course a {
  display: block;
  color: #00aeef;
  text-decoration: none;
  font-size: 1.6rem;
  margin: auto 2rem 2rem 2rem;
  font-family: "wf_93c16d86ec9d47d0a2a36894f";
}

#carousel {
  background-color: #2b2b2b;
}
#carousel .inner-carousel {
  width: 100%;
  height: 22.4rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  position: relative;
}
#carousel .carousel-arrow {
  width: 2.5rem;
  height: 4.5rem;
  position: absolute;
  cursor: pointer;
  left: -8rem;
}
#carousel .carousel-arrow > svg {
  fill: #fff;
  transition: fill 0.3s ease;
}
#carousel .carousel-arrow > svg:hover {
  fill: #a9a9a9;
}
#carousel .carousel-arrow--right {
  transform: rotate(180deg);
  right: -8rem;
  left: auto;
}
#carousel .carousel-content {
  width: 100%;
}
#carousel .carousel-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
#carousel .carousel-item > img {
  width: 25rem;
  height: 7.4rem;
}
#carousel .carousel-item--active {
  display: flex;
  opacity: 1;
}
#carousel .carousel-dots {
  bottom: 3rem;
  width: 10rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
#carousel .carousel-dots .carousel-dot {
  width: 0.6rem;
  height: 0.6rem;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#carousel .carousel-dots .carousel-dot:hover {
  background-color: #a9a9a9;
}
#carousel .carousel-dots .carousel-dot--active {
  background-color: var(--hover-color);
}

#faq {
  background: #161616;
  font-family: "wf_dd28b3957391427eb54de1c9e";
}
#faq .accordion {
  font-size: 1.8rem;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 1.8rem;
  width: 100%;
  text-align: left;
  border: none;
  border-bottom: 1px solid rgb(53, 49, 49);
  outline: none;
  transition: 0.4s;
}
#faq .active,
#faq .accordion:hover {
  background-color: transparent;
}
#faq .panel {
  font-size: 1.4rem;
  padding: 0 1.8rem;
  background-color: transparent;
  display: none;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .container {
    max-width: 980px;
  }
  nav {
    height: 8.4rem;
    font-size: 1.4rem;
  }
  nav .nav-item {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}/*# sourceMappingURL=index.css.map */