@use "sass:map";

$colors: (
  "bg-light-gray": #2b2b2b,
  "bg-dark-gray": #161616,
  "link-blue": #00aeef
);

html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  color: #fff;
}

.row > * {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

#featured {
  background-image: url("../img/featured.jpg");
  height: 21.7rem;
  width: 100%;

  h1 {
    font-size: 3.6rem;
  }
}

#info {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: map.get($colors, "bg-light-gray");

  a {
    display: block;
    color: map.get($colors, "link-blue");
    text-decoration: none;
    font-weight: bold;
    margin-top: 3rem;
  }
}

#courses {
  background: map.get($colors, "bg-dark-gray");

  h2 {
    margin: 2rem 0;
    font-size: 3.6rem;
  }
  .course {
    border: 1px solid rgba(206, 206, 206, 0.3);
    border-radius: 10px;
    margin: 1.5rem 0;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
      margin-bottom: 1rem;
    }

    h3,
    h4 {
      margin: 1.5rem 2rem;
      font-size: 1.8rem;
    }

    a {
      display: block;
      color: map.get($colors, "link-blue");
      text-decoration: none;
      font-weight: bold;
      margin: 3rem 2rem;
    }
  }
}

#carousel {
  background-color: map.get($colors, "bg-light-gray");

  h2 {
    margin: 2rem 0;
    font-size: 3.6rem;
  }

  // img {
  //   height: 7rem;
  // }

  .slick-prev,
  .slick-next {
    background: none;
    border: none;
    opacity: 0.5;

    img {
      height: 35px;
      width: 150px;
    }
  }

  .slick-dots {
    display: flex;
    flex-direction: row;

    li button {
      font-size: 0;
    }
  }
}

.slick-track {
  display: flex;

  .slick-slide {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
  }
}
